.u-section-1 .u-sheet-1 {
  min-height: 505px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: -11px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -7px 617px 0 53px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: -164px 379px 0 651px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -39px 871px 0 53px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 23px 0 651px;
}

.u-section-1 .u-image-2 {
  width: 96px;
  height: 174px;
  margin: -406px auto 0 113px;
}

.u-section-1 .u-image-3 {
  width: 136px;
  height: 128px;
  margin: -133px 113px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-right: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -177px;
    margin-right: 342px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 724px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: -14px;
    margin-left: 488px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -419px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-right: 285px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: 610px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -229px;
    margin-right: 504px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 190px;
    margin-right: 0;
    margin-left: 281px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -389px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 65px;
    margin-right: auto;
    margin-left: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 353px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 324px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 101px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -401px;
    margin-right: 65px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 28px;
    margin-right: -23px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 230px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -240px;
    margin-right: 124px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 214px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -468px;
    margin-right: -20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 55px;
    margin-right: -40px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 535px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  width: 465px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: 20px -203px 0 203px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: -36px -505px 0 505px;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: 51px -203px 0 203px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -80px -203px 0 203px;
}

.u-section-2 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -36px -505px 0 505px;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: -132px -744px 0 744px;
}

.u-section-2 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 2px -744px 0 744px;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: 12px 279px 0 744px;
}

.u-section-2 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -12px 788px 0 203px;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -145px -505px 0 505px;
}

.u-section-2 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -166px -744px 0 744px;
}

.u-section-2 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Coiny;
  transition-duration: 0.5s;
  margin: -122px 487px 0 505px;
}

.u-section-2 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 208px 113px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -120px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -414px;
    margin-left: 414px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: -120px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -70px;
    margin-right: -120px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -35px;
    margin-right: -414px;
    margin-left: 414px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: -624px;
    margin-left: 624px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: -624px;
    margin-left: 624px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: -624px;
    margin-left: 624px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -20px;
    margin-right: 667px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -125px;
    margin-right: 396px;
    margin-left: 414px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -174px;
    margin-right: -624px;
    margin-left: 624px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -118px;
    margin-right: -414px;
    margin-left: 414px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin: 182px 16px 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: -304px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -25px;
    margin-right: -304px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-7 {
    margin-right: -529px;
    margin-left: 529px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 9px;
    margin-right: -1153px;
    margin-left: 529px;
  }

  .u-section-2 .u-text-9 {
    margin-right: -529px;
    margin-left: 529px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -21px;
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 286px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -169px;
    margin-right: -529px;
    margin-left: 529px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -122px;
    margin-right: 268px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.75rem;
    margin-top: 181px;
    margin-right: -24px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 41px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -34px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 47px;
    margin-right: -34px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -34px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -35px;
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 5px;
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-9 {
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -150px;
    margin-right: 326px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -41px;
    margin-right: -333px;
    margin-left: 333px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -34px;
    margin-right: 261px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -161px;
    margin-right: -34px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-14 {
    margin: 135px 83px 12px 77px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
    margin-right: 34px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -28px;
    margin-right: -205px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -25px;
    margin-right: -205px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 164px;
    margin-right: -205px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 3px;
    margin-right: -205px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -85px;
    margin-right: -110px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: -232px;
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: -121px;
    margin-right: -541px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 28px;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: -306px;
    margin-right: -541px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-14 {
    width: 256px;
    margin: 296px auto 11px;
  }
}